body{
    background-image: url('../Images/Picture3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
}
html, body {margin: 0; height: 100%; overflow: hidden}


#p-game-title{
    display: inline-block;
    font-family: 'Creepster', cursive;                                   
    font-size: 50px;
    color: #E79C21;
    padding-left: 15%;
}

.guessed-word{
    display: flex;
    flex-direction: row;
    justify-content: center;
  
}

/* letters on screen created by generating a new div */
.letter-div{
    margin: 10px;
    height: 30px;
    width: 30px;
    border-bottom: 5px solid rgb(255, 242, 242);
   
}
.actual-letter{
 /* text */
 color: white;
 font-family: 'Press Start 2P', cursive;
 font-size: 20px;
 margin-top: auto;
}


#col2{
    float: left;
    width: 65%;
    padding: 10px;
    height: 20px;
    margin: 10px;
}

.keybored{
    position: absolute;
    display: inline-block;
    right: 27%;
    top: 60%;
    padding: 25px;
}

.frist-row-letters{
    display: flex;
    align-items: center;
}

.second-row-letters{
    margin-left: 20px;
}

.third-row-letters{
    margin-left: 80px;
}

.btn{
    /* Background */
    background-image: url('../Images/letter box.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    /* Size */
    width: 55px;
    height: 55px;
    margin: 2px;
    
    /* Text */
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px
    
}

/* Scarecrew Image div */
.scarecrow-div{
  float: left;
  width: 22%;
  padding: 5px;
  height: 520px; 

  
}


/* Scarecrew Images */

#scarecrew-stick{
    position: relative;
    height: 80%;
    top: 120px;
    left: 130px;
 
}

#scarecrew-body{
    position: relative;
    width: 60%;
    bottom: 25px;
    left: 20px;
}

#scarecrew-right-arm{
    position: relative;
    height: 13%;
    left: 205px;
    bottom: 200px;
   
}

#scarecrew-left-arm{
    position: relative;
    height: 13%;
    right: 145px;
    bottom: 200px;
   
    
}

#scarecrew-head{
    position: relative;
    height: 20%;
    bottom: 410px;
    left: 70px;
    
}

#scarecrew-hat{
    position: relative;
    height: 16%;
    bottom: 490px;
    right: 70px;
 
}

#scarecrew-skull-right{
    position: relative;
    height: 20%;
    bottom: 350px;
    left: 6px;
    
}

#scarecrew-skull-left{
    position: relative;
    height: 20%;
    bottom: 350px;
    left: 180px;
    
}

