body{
    background-image: url('../Images/Picture3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


#p-game-title{
    font-family: 'Creepster', cursive;                                   
    font-size: 50px;
    color: #E79C21;
    padding-left: 34%;
   
    
}

.guessed-word{
    border: 2px solid green;
    width: 40%;
    height: 90px;
    
}

  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #col2{
    float: left;
    width: 65%;
    padding: 10px;
    height: 20px;
    margin: 10px;
  }
  #col1{
    float: left;
    width: 15%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    margin: 10px;
  }

.keybored{

    position: absolute;
    width: 570px;
    /* height: 90px; */
    padding: 200px 0px 0 420px;
}
.btn{
    background-image: url('../Images/letter box.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 60px;
    height: 60px;
    margin: 2px;

}